In [23]:
import pandas as pd
df=pd.read_csv('online-job-postings.csv')

# 评估数据（access）

In [24]:
df.head()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True

In [25]:
df['StartDate'].value_counts()

ASAP                                                                                                                                                               4754
Immediately                                                                                                                                                         773
As soon as possible                                                                                                                                                 543
Upon hiring                                                                                                                                                         261
Immediate                                                                                                                                                           259
Immediate employment                                                                                                                                                140
As soon as possible.                                                                                                                                                 32
01 September 2012                                                                                                                                                    31
March 2006                                                                                                                                                           27
November 2006                                                                                                                                                        22
January 2010                                                                                                                                                         19
01 February 2005                                                                                                                                                     17
February 2014                                                                                                                                                        17
Immediate job opportunity                                                                                                                                            17
September 2010                                                                                                                                                       16
February 2011                                                                                                                                                        16
TBD                                                                                                                                                                  16
September 2008                                                                                                                                                       15
March 2011                                                                                                                                                           15
February 2007                                                                                                                                                        14
01 February 2015                                                                                                                                                     14
01 July 2014                                                                                                                                                         14
01 September 2008                                                                                                                                                    13
01 March 2006                                                                                                                                                        13
01 September 2010                                                                                                                                                    13
January 2016                                                                                                                                                         13
01 October 2012                                                                                                                                                      12
Fall 2010                                                                                                                                                            12
01 April 2014                                                                                                                                                        12
June 2008                                                                                                                                                            12
                                                                                                                                                                   ...
26 May 2008                                                                                                                                                           1
11 July  2005                                                                                                                                                         1
07 July 2008                                                                                                                                                          1
20-22 May 2005                                                                                                                                                        1
Midst June, 2004                                                                                                                                                      1
16 May 2011                                                                                                                                                           1
17 April 2007                                                                                                                                                         1
The end of January 2005                                                                                                                                               1
17 September 2005                                                                                                                                                     1
10 September 2008                                                                                                                                                     1
28 August 2006                                                                                                                                                        1
08 July 2008, 18:00                                                                                                                                                   1
End of May 2006                                                                                                                                                       1
September  2005                                                                                                                                                       1
15 September 2006                                                                                                                                                     1
25 June 2007                                                                                                                                                          1
01 November 2012, 4 p.m.                                                                                                                                              1
08 July 2013                                                                                                                                                          1
Wednesday, 6 April 2011 at 10:00 a.m. (Registration\r\nstarts at 09:30 a.m.)                                                                                          1
August/ September 2010                                                                                                                                                1
1 May 2005                                                                                                                                                            1
19 February  2007                                                                                                                                                     1
The starting date depends on the date when the project\r\nis notified by the EU-delegation in Armenia. It is expected to be no\r\nlater than 1st February 2012.       1
February 28, 2011 or later                                                                                                                                            1
03 October 2006, from 16:30 till 18:00.                                                                                                                               1
09 July 2005                                                                                                                                                          1
August 10, 2004                                                                                                                                                       1
01 March 2014 (preferably)                                                                                                                                            1
June 2005 or as agreed                                                                                                                                                1
28 November 2007                                                                                                                                                      1
Name: StartDate, Length: 1186, dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
jobpost             19001 non-null object
date                19001 non-null object
Title               18973 non-null object
Company             18994 non-null object
AnnouncementCode    1208 non-null object
Term                7676 non-null object
Eligibility         4930 non-null object
Audience            640 non-null object
StartDate           9675 non-null object
Duration            10798 non-null object
Location            18969 non-null object
JobDescription      15109 non-null object
JobRequirment       16479 non-null object
RequiredQual        18517 non-null object
Salary              9622 non-null object
ApplicationP        18941 non-null object
OpeningDate         18295 non-null object
Deadline            18936 non-null object
Notes               2211 non-null object
AboutC              12470 non-null object
Attach              1559 non-null object
Year                19001 non-null int64
Month               19001 non-null int64
IT                  19001 non-null bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

In [27]:
df['Year'].value_counts()

2012    2149
2015    2009
2013    2009
2014    1983
2008    1785
2011    1697
2007    1538
2010    1511
2009    1191
2005    1138
2006    1116
2004     875
Name: Year, dtype: int64

存在问题的问题
- 缺失值 (非数字)
- 起始日期不一致 (ASAP)
- 非描述性标题或拼写错误

# 清洗数据（三步骤：定义，编码，测试）

## 非描述性标题或拼写错误

### 定义:更改['ApplicationP'],['AboutC'],['RequiredQual']的列名标题

In [28]:
df_clean=df.copy()

In [29]:
df_clean = df.rename(columns={'ApplicationP':'ApplicationProcedure',
                              'AboutC':'AboutCompany','RequiredQualifications':'JobRequirment'})

## 起始日期不一致 (ASAP)

### 定义：将['StartDate']列里的Immediate、Immediately、As soon as possible等值转化成ASAP

In [32]:
asap_list = ['Immediately', 'As soon as possible', 'Upon hiring',
             'Immediate', 'Immediate employment', 'As soon as possible.', 'Immediate job opportunity',
             '"Immediate employment, after passing the interview."',
             'ASAP preferred', 'Employment contract signature date',
             'Immediate employment opportunity', 'Immidiately', 'ASA',
             'Asap', '"The position is open immediately but has a flexible start date depending on the candidates earliest availability."',
             'Immediately upon agreement', '20 November 2014 or ASAP',
             'immediately', 'Immediatelly',
             '"Immediately upon selection or no later than November 15, 2009."',
             'Immediate job opening', 'Immediate hiring', 'Upon selection',
             'As soon as practical', 'Immadiate', 'As soon as posible',
             'Immediately with 2 months probation period',
             '12 November 2012 or ASAP', 'Immediate employment after passing the interview',
             'Immediately/ upon agreement', '01 September 2014 or ASAP',
             'Immediately or as per agreement', 'as soon as possible',
             'As soon as Possible', 'in the nearest future', 'immediate',
             '01 April 2014 or ASAP', 'Immidiatly', 'Urgent',
             'Immediate or earliest possible', 'Immediate hire',
             'Earliest  possible', 'ASAP with 3 months probation period.',
             'Immediate employment opportunity.', 'Immediate employment.',
             'Immidietly', 'Imminent', 'September 2014 or ASAP', 'Imediately']

In [33]:
df_clean['StartDate'].replace(asap_list,'ASAP',inplace=True)

In [34]:
df_clean['StartDate'].value_counts()

ASAP                                                                                                                                                               6856
01 September 2012                                                                                                                                                    31
March 2006                                                                                                                                                           27
November 2006                                                                                                                                                        22
January 2010                                                                                                                                                         19
01 February 2005                                                                                                                                                     17
February 2014                                                                                                                                                        17
February 2011                                                                                                                                                        16
September 2010                                                                                                                                                       16
TBD                                                                                                                                                                  16
September 2008                                                                                                                                                       15
March 2011                                                                                                                                                           15
01 July 2014                                                                                                                                                         14
February 2007                                                                                                                                                        14
01 February 2015                                                                                                                                                     14
January 2016                                                                                                                                                         13
01 September 2010                                                                                                                                                    13
01 March 2006                                                                                                                                                        13
01 September 2008                                                                                                                                                    13
September 2013                                                                                                                                                       12
June 2008                                                                                                                                                            12
01 October 2008                                                                                                                                                      12
01 October 2012                                                                                                                                                      12
01 April 2014                                                                                                                                                        12
Fall 2010                                                                                                                                                            12
01 March 2012                                                                                                                                                        12
January 2011                                                                                                                                                         11
01 September 2004                                                                                                                                                    11
01 April 2009                                                                                                                                                        11
01 November 2007                                                                                                                                                     11
                                                                                                                                                                   ...
05 March 2012                                                                                                                                                         1
19 January 2015                                                                                                                                                       1
12 June 2014                                                                                                                                                          1
Midst June, 2004                                                                                                                                                      1
16 May 2011                                                                                                                                                           1
June 2005 or as agreed                                                                                                                                                1
25 June 2007                                                                                                                                                          1
Undetermined                                                                                                                                                          1
17 April 2007                                                                                                                                                         1
The end of January 2005                                                                                                                                               1
17 September 2005                                                                                                                                                     1
10 September 2008                                                                                                                                                     1
28 August 2006                                                                                                                                                        1
08 July 2008, 18:00                                                                                                                                                   1
End of May 2006                                                                                                                                                       1
September  2005                                                                                                                                                       1
15 September 2006                                                                                                                                                     1
01 November 2012, 4 p.m.                                                                                                                                              1
01 March 2014 (preferably)                                                                                                                                            1
08 July 2013                                                                                                                                                          1
Wednesday, 6 April 2011 at 10:00 a.m. (Registration\r\nstarts at 09:30 a.m.)                                                                                          1
05 May 2014                                                                                                                                                           1
1 May 2005                                                                                                                                                            1
19 February  2007                                                                                                                                                     1
The starting date depends on the date when the project\r\nis notified by the EU-delegation in Armenia. It is expected to be no\r\nlater than 1st February 2012.       1
February 28, 2011 or later                                                                                                                                            1
03 October 2006, from 16:30 till 18:00.                                                                                                                               1
09 July 2005                                                                                                                                                          1
August 10, 2004                                                                                                                                                       1
28 November 2007                                                                                                                                                      1
Name: StartDate, Length: 1140, dtype: int64

In [46]:
# assert断言是声明其布尔值必须为真的判定，如果发生异常(AssertionError)就说明表达式为假。以下代码检测StartDate列的ASAP值是否填充完整
for phrase in asap_list:
    assert phrase not in df_clean.StartDate.values